#wall
{
  background-color: lightyellow;
  height: 15in;
  width: 10in;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
}
.note
{
  background-color: lightblue;
  height: 100px;
  width: 150px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 2px solid black;
}
#roster
{
  display: none;
}
#login
{
  display: none;
}
